/* District */

.widget-user-header {
    background-color: #3c8dbc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    filter: saturate(0.3);
}

.widget-user-header:hover {
    color: #ccc;
    filter: saturate(1);
    transition: filter 0.3s;
}

.widget-user .widget-user-header {
    height: 250px;
    background-position: center center;
    background-size: cover;
}

.unit {
    display: none;
}
